# Lists
List variables, which contain multiple items of data, are widely used in Python programming and have number of "methods" that can be use for list manipulation.

| **List method** | **Description**   |
|------|------|
|   *list*.append(*x*)  | Adds item x to the end of the list |
|   *list*.extend(*L*)  | Adds all items in list *L* to the end of the list |
|   *list*.insert(*i,x*)  | Inserts item *x* in position *i* |
|   *list*.remove(*x*)  | Removes first item *x* from the list |
|   *list*.pop(*i*)  | Removes item at index position *i* and returns it |
|   *list*.index(*x*)  | Returns the index position in the list of first item *x* |
|   *list*.count(*x*)  | Returns the number of times *x* appears in the list |
|   *list*.sort()  | Sort all list items, in place |
|   *list*.reverse()  | Reverse all list items, in place |

Create two list of three elements each

In [1]:
cities_been = ['Barcelona', 'London', 'New York']
cities_togo = ['Boston', 'Berlin', 'Singapore']

Print contentent and length of first list

In [5]:
print('Cities I have visited: ' , cities_been)
print('Number of visited cities: ' , len(cities_been))

Cities I have visited:  ['Barcelona', 'London', 'New York']
Cities I have visited: ['Barcelona', 'London', 'New York']
Number of visited cities:  3

make a list with elements from 1 to 100

Select the first 10 elements

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Sum 3 to every element

In [14]:
l = [x + 3 for x in l]

square only the elemnts that are even

In [15]:
# amb append (lent)
lsq = []
for e in l:
    if e % 2:
        lsq.append(e)
    else:
        lsq.append(e**2)

In [16]:
# pythonic list comprehension 
l_sq = [e**2 if e%2==0 else e for e in l]
print(l_sq)

[16, 5, 36, 7, 64, 9, 100, 11, 144, 13, 196, 15, 256, 17, 324, 19, 400, 21, 484, 23]

dive each element by 5 if it's divisible by 5

In [18]:
l_div = [e//5 if e%5==0 else e for e in  l_sq]
print(l_div)

[16, 1, 36, 7, 64, 9, 20, 11, 144, 13, 196, 3, 256, 17, 324, 19, 80, 21, 484, 23]

Make a new list that contains the different elements of `l_sq` and `l_div`

In [10]:
set(l_div) ^ set(l_sq)

{1, 3, 5, 15, 20, 80, 100, 400}