In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'a':[1, 2, 3, 4],
    'b':['foo', 'bar', 'foo', 'baz']
    })

In [4]:
df

   a    b
0  1  foo
1  2  bar
2  3  foo
3  4  baz

In [7]:
df.blocks

C:\Users\Biel\Anaconda3\lib\site-packages\pandas\core\generic.py:3884: FutureWarning: as_blocks is deprecated and will be removed in a future version
  return self.as_blocks()

{'int64':    a
 0  1
 1  2
 2  3
 3  4, 'object':      b
 0  foo
 1  bar
 2  foo
 3  baz}

In [9]:
grouped = df.groupby(by='b')

In [13]:
grouped.agg('mean')

     a
b
bar  2
baz  4
foo  2